<?php
    if (count(array_keys(RainLab\Translate\Models\Locale::listAvailable()))>1):
?>

    <?php if($this->widget->form->model->hasModules()): ?>
        <div class="dropdown dropdown-fixed" style="margin-bottom: 20px;">
            <button
                class="btn btn-primary icon-object-ungroup"
                data-toggle="dropdown">
                    <span style="font-family: sans-serif!important">
                        Copy modules from language
                    </span>
            </button>
            <ul class="dropdown-menu" data-dropdown-title="Choose locale" style="cursor: pointer;">
                <?php foreach(array_keys(RainLab\Translate\Models\Locale::listAvailable()) as $locale1): ?>
                <?php foreach(array_keys(RainLab\Translate\Models\Locale::listAvailable()) as $locale2): ?>
                <?php if ($locale1 != $locale2 && !empty($this->widget->form->model->getAttributeTranslated('modules', $locale1))): ?>
                <li>
                    <a
                        type="button"
                        data-request="onCopyLanguageModules"
                        onclick="$(this).data('request-data', {
                                                                mode: '<?php echo strtoupper($locale1). " -> " .strtoupper($locale2) ?>'
                        })"
                        data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>">
                        <?php echo strtoupper($locale1). " -> " .strtoupper($locale2) ?>
                    </a>
                </li>
                <?php endif ?>
                <?php endforeach; ?>
                <?php endforeach; ?>
            </ul>
        </div>
    <?php endif ?>

<?php
endif
?>
