<div data-control="toolbar" data-disposable="">


    <?php if(!isset($this->widget->form->model->seo_tag) || empty($this->widget->form->model->seo_tag->getAttribute('id'))): ?>
        <a data-control="popup" data-size="huge" data-handler="onRelationButtonCreate" href="javascript:;" class="btn btn-sm btn-secondary oc-icon-file">
            Create Seo Tag
        </a>
    <?php else: ?>
    <a data-control="popup" data-size="huge" data-handler="onRelationButtonUpdate" data-request-data="manage_id: '<?php echo $this->widget->form->model->seo_tag->id ?>'" href="javascript:;" class="btn btn-sm btn-secondary oc-icon-pencil">
        Update Seo Tag</a>
    <?php endif; ?>
</div>

<script>
    $(document).on('show.oc.popup', function(event, $trigger, $modal){
        $('.countable').each(function () {
            makeCountable($(this));
        });
    });
</script>
